.vs/*
release/build-apple/LiminalSpirit.xcodeproj/project.pbxproj
release/cugl/build-apple/box2d.xcodeproj/xcuserdata/jgomez.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
release/cugl/build-apple/box2d.xcodeproj/xcuserdata/jgomez.xcuserdatad/xcschemes/xcschememanagement.plist
release/build-apple/LiminalSpirit.xcodeproj/project.pbxproj
*.plist
release/cugl/build-apple/box2d.xcodeproj/xcuserdata/jgomez.xcuserdatad/xcschemes/xcschememanagement.plist
release/build-apple/LiminalSpirit.xcodeproj/project.pbxproj
*.pbxproj
*.plist
*.pbxproj
release/build-apple/LiminalSpirit.xcodeproj/project.pbxproj
release/cugl/build-apple/box2d.xcodeproj/xcuserdata/jgomez.xcuserdatad/xcschemes/xcschememanagement.plist
release/build-apple/LiminalSpirit.xcodeproj/project.pbxproj
release/cugl/build-apple/box2d.xcodeproj/xcuserdata/jgomez.xcuserdatad/xcschemes/xcschememanagement.plist
